:root {
    --theme-header-color: #15EF61;
    --theme-background-color: #0DC34D;
    --theme-color-3: #4D0DC3;
    --theme-color-4: #C34D0D;
}

body {
    display: flex;
    flex-direction: column;
    min-width: 100vw;
    min-height: 100vh;
}

header {
    flex: 0 1 10vh;
    background-color: var(--theme-header-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    font-size: calc(10px + 1vw);
    color: var(--theme-color-4);
    gap: 30px;
}

header button {
    outline: none;
    border: none;
    background-color: var(--theme-color-4);
    color: var(--theme-header-color);
    padding: 10px 50px;
    cursor: pointer;
    border-radius: 5px;
}

main {
    flex: 1 1 90vh;
    background-color: var(--theme-background-color);
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 20vw));
    gap: 2rem;
}

.card {
    background-color: var(--theme-color-3);
    height: max-content;
    padding: 1rem;
    border-radius: 10px;
    font-size: calc(10px + 0.8vw);
    font-weight: 600;
    text-align: center;
    color: var(--theme-background-color);
}

.card button {
    border: none;
    cursor: pointer;
    background-color: var(--theme-color-4);
    color: var(--theme-background-color);
    font-weight: 600;
    font-size: calc(10px + 0.9vw);
    width: 100%;
    padding: 20px;
}
